<div id="search-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Advanced Movies Search</h4>
      </div>
      <div class="modal-body">
        <%= form_tag link_to_movies_list, method: :get do %>
          <div class="row">
            <div class="col-md-6">
              <%= text_field_tag :movie, "", placeholder: "Movie", class: "form-control" %>
            </div>
            <div class="col-md-6">
              <%= select_tag :actor, options_for_select(set_actors_list), prompt: 'Actor', class: "chosen-select form-control" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%= select_tag :genre, options_for_select(Movie::GENRE), prompt: "Genre", class: "form-control" %>
            </div>
            <div class="col-md-6">
              <%= button_tag type: :submit, class: "btn btn-block btn-success" do %>
                Search <span class="glyphicon glyphicon-search"></span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
