<div class="text-center main-heading">
  <h1>MoviPedia</h1>
  <p>Your source of Movie information</p>
</div>
<div class="row heading">
  <h2><%= link_to "All Movies", link_to_movies_list %></h2>
</div>
<div class="row">
  <% @movies.each do |movie| %>
    <%= link_to movie_poster(movie, :poster), link_to_movie_show(movie) %>
  <% end %>
</div>
<div class="row heading">
  <h2><%= link_to "Featured Movies", link_to_movies_list("featured") %></h2>
</div>
<div class="row">
  <% @featured_movies.each do |movie| %>
    <%= link_to movie_poster(movie, :poster), link_to_movie_show(movie) %>
  <% end %>
</div>
<div class="row heading">
  <h2><%= link_to "Top Movies", link_to_movies_list("top") %></h2>
</div>
<div class="row">
  <% @top_movies.each do |movie| %>
    <%= link_to movie_poster(movie, :poster), link_to_movie_show(movie) %>
  <% end %>
</div>
<div class="row heading">
  <h2><%= link_to "Latest Movies", link_to_movies_list("latest") %></h2>
</div>
<div class="row">
  <% @latest_movies.each do |movie| %>
    <%= link_to movie_poster(movie, :poster), link_to_movie_show(movie) %>
  <% end %>
</div>
<div class="row heading">
  <h2><%= link_to "Upcoming Movies", link_to_movies_list("upcoming") %></h2>
</div>
<div class="row">
  <% @upcoming_movies.each do |movie| %>
    <%= link_to movie_poster(movie, :poster), link_to_movie_show(movie) %>
  <% end %>
</div>
