<div>
  <%= content_tag :h3, movie.title %>
  <p>
    <b>Rating: </b><%= movie.rating %>
  </p>
  <div>
    <%= movie.description.html_safe %>
  </div>
  <div>
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to "Edit", edit_admin_movie_path(movie) %>
      <%= link_to "Delete", admin_movie_path(movie), method: :delete,
        data: {confirm: "Are you sure?"} %>
    <% end %>
  </div>
</div>
