<div class="row">
  <div class="col-md-3">
    <%= image_tag movie.poster.url(:poster), class: "img" %>
  </div>
  <div class="col-md-9">
    <%= content_tag :h2, movie.title, class: "word-wrap" %>
    <% if current_user && !is_user_admin? %>
      <p>
        <%= content_tag :b, fav_button_text(@movie) %>
        <%= link_to "", update_favorite_user_path(@movie), class: "#{fav_button_class(@movie)}", method: :post %>
      </p>
    <% end %>
    <p>
      <b>Release date: </b><%= format_date(movie.release_date) %>
    </p>
    <p>
      <b>Genre: </b><%= movie.genre %>
    </p>
    <p>
      <b>Average Rating </b><span class="star-rating" data-score =<%= movie.rating %>></span>
    </p>
    <% if @rating.present? %>
      <div id="rating-form-area">
        <%= render 'ratings/rating_form' %>
      </div>
    <% end %>
    <div>
      <%= movie.description.html_safe %>
    </div>
  </div>
</div>
<div class="row">
  <h3>Cast</h3>
</div>
<% movie.actors.each do |actor| %>
  <div class="row mg-b">
    <%= image_tag headshot(actor) %>
    <%= link_to actor.name, actor_show(actor) %>
  </div>
<% end %>
<div class="row">
  <h3>Trailer</h3>
</div>
<div class="row trailer">
  <% if movie.trailer_link.blank? %>
    <strong>Trailer not added yet</strong>
  <% else %>
    <div class="embed-responsive embed-responsive-16by9">
      <%= raw(youtube_embed movie.trailer_link) %>
    </div>
  <% end %>
</div>
<h2>Reviews</h2>
<% unless current_user && current_user.admin %>
  <%= link_to "Write Review", show_form_movie_reviews_path(movie.id), id: "write-review", class: "btn btn-primary", remote: true %>
  <div id="review-errors">
  </div>
  <div id="review-form">
  </div>
<% end %>
<%= content_tag :h4, "No reviews yet" if @reviews.blank? %>
<div id="reviews">
  <%= render partial: '/reviews/review', collection: @reviews, as: :review %>
</div>
