<%= render partial: 'shared/validation_errors', object: @actor, as: :object %>
<%= form_for [:admin, @actor], html: { class: "form-horizontal" } do |f| %>
  <div class="form-group">
    <%= f.label :name, class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Upload Headshot", class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= f.file_field :headshot %>
    </div>
  </div>
  <%= f.submit "Submit", class: "btn btn-success col-md-offset-2" %>
<% end %>
<%= link_to "Back", admin_actors_path %>
