<!DOCTYPE html>
<html>
<head>
  <title>MoviPedia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="outer-body">
  <div class="container">
    <%= render 'shared/navbar' %>
    <div class="row container">
      <%= render 'shared/advanced_search_form' %>
    </div>
    <% if flash.any? %>
      <%= render partial: "shared/flash_messages", flash: flash %>
    <% end %>
    <div id="main-body">
      <%= yield %>
    </div>
  </div>
</body>
</html>
